@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


:root{

    --cor1: #A6249D;
    --cor2: #BF7ABB;
    --cor3: #F2B807;
    --cor4: #F2C46D;
    --cor5: #0D0D0D;

    --fontepadrao: Arial, Verdana, Helvetica, sans-serif;
    --fontedestaque: 'Russo One', sans-serif;
    --fontedestaque2: 'Concert One', sans-serif;

}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white;
}

header{
    min-height: 150px;
    min-width: 900px;
    background-color: var(--cor2);
    
}

header .img{
    width: 450px;
    margin: auto;
    display: block;
    padding: 20px;
    
    
}


header > p{
    text-align: center;
    color: var(--cor1);
    margin: auto;
    font-family: var(--fontedestaque2);
    font-weight: bolder;

}

header > p > span{
    color: var(--cor3);
}

nav{
    
}

main > article > h1{
    font-family: var(--fontedestaque);
    color: var(--cor1);
}